/* Общие стили страницы */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #f5fcf5, #eefaee);
    background-attachment: fixed;
}

/* Стили для navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #c8e6c9;
    display: flex;
    justify-content: center;
    padding: 15px 0;
    z-index: 1000;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 25px;
}

.navbar ul li {
    margin: 0;
}

.navbar ul li a {
    text-decoration: none;
    color: #2f4f2f;
    font-size: 20px;
    font-weight: bold;
    padding: 12px 25px;
    border-radius: 12px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.navbar ul li a:hover {
    background-color: #a5d6a7;
    transform: scale(1.08);
}

.navbar ul li.active a {
    background-color: #81c784;
    color: #1b341b;
    pointer-events: none;
    transform: none;
}

.burger-menu {
    display: none;
    font-size: 30px;
    color: #333;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 10px;
    left: 10px;
}

/* Основное содержание */
.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 20px;
}

.text-container {
    flex: 1;
    max-width: 45%;
}

.logo-container {
    margin-bottom: 20px;
}

.logo {
    width: 100px;
}

h1 {
    font-size: 28px;
    margin: 20px 0;
}

p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
}

.image-container {
    flex: 1;
    max-width: 65%;
}

.main-image {
    width: 100%;
    height: auto;
    max-width: 700px;
}

.projects-main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 20px;
}

.error-container {
    max-width: 600px;
    width: 100%;
}

.error-image {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.main {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Стили для мобильных устройств */
@media (max-width: 730px) {
    .search-container {
        max-width: 100%; /* Контейнер растягивается на всю ширину экрана */
        padding: 20px; /* Меньшие отступы */
        margin: 20px; /* Отступы со всех сторон */
    }

    #searchInput {
        font-size: 16px; /* Уменьшаем размер шрифта */
    }
    .navbar {
        display: none; /* скрыть меню на мобильных устройствах */
    }

    .burger-menu {
        display: block; /* показываем бургер-меню */
    }

    .sidebar {
        width: 0; /* сайдбар скрыт по умолчанию */
    }

    .sidebar.open {
        width: 250px; /* сайдбар раскрывается на 250px */
    }

    .sidebar ul {
        padding-left: 20px;
    }

    .main-content {
        flex-direction: column; /* контент становится вертикальным на мобильных устройствах */
        padding: 10px;
    }

    .text-container,
    .image-container {
        width: 100%;
    }

    .kanban-board {
        display: block;
    }

    #openDialogBtn {
        font-size: 16px;
        padding: 10px 20px;
        margin-top: 100 px;
    }
}

/* Стили для планшетов */
@media (max-width: 1024px) and (min-width: 730px) {
    .search-container {
        max-width: 500px; /* Средняя ширина контейнера */
        padding: 30px; /* Умеренные отступы */
    }

    #searchInput {
        font-size: 17px; /* Умеренный размер шрифта */
    }
    .navbar {
        flex-direction: row;
        justify-content: space-around;
    }

    .kanban-board {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    #openDialogBtn {
        font-size: 18px;
        padding: 10px 20px;
    }
}

@media (min-width: 1025px) {
    .search-container {
        max-width: 600px; /* Увеличиваем максимальную ширину */
        padding: 40px; /* Добавляем больше внутренних отступов */
        margin: 40px auto; /* Отступ сверху и снизу */
    }

    #searchInput {
        font-size: 18px; /* Увеличиваем размер шрифта */
    }
    .navbar {
        flex-direction: row;
        justify-content: space-between;
        justify-content: center;
    }

    .kanban-board {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }

    #openDialogBtn {
        font-size: 20px;
        padding: 12px 24px;
        margin-top: 100 px;
    }
}
